p,h1,h2,h3{
    color: white;
    font-family: 'Comic Sans MS',  sans-serif;
}
body{
    background-color:#0B1215;
}

#topnav {
    background-color: rgba(64, 64, 64, 0.75);
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0; 
    height: 5vh;
    width: 100%;
    font-family: 'Comic Sans MS',  sans-serif;
}
#topnav h2{
    margin-left: auto;
    margin-right: 20px;
}
#topnav h3{
    position: absolute;
    margin: 0 auto;
}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <meta charset="UTF-8">
        <title>Landing Page</title>
    </head>
    <body>
        <div id="topnav">
            <h3>tbperson@github</h3>
            <h2></h2>
        </div>
        <script src="script.js"></script>
    </body>
</html>


function update_time() {
    let currentTime = new Date().toLocaleString();
    document.querySelector('#topnav h2').textContent = currentTime;
}

//Run the clock every 500ms
setInterval(update_time, 500);