p,h1,h2{
    color: #333;
    font-family: 'Comic Sans MS',  sans-serif;
}
body{
    background-image: url('planet.jpg');
}
.site_link{
    width: 5vw;
    height: 5vh;
    margin: 0 auto;
    font-size: 0.8em;
    background-color: #333;
}