p,h1,h2{
    color: #333;
    font-family: 'Comic Sans MS',  sans-serif;
}
body{
    background-color:#0B1215;
}
div.top_bar{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 5vh;
    top: 0;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
}