@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1e1e1e;
            color: #f0f0f0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            align-items: center;
            background-image: linear-gradient(135deg, rgba(255, 69, 0, 0.1), rgba(0, 191, 255, 0.1), rgba(50, 205, 50, 0.1), rgba(255, 165, 0, 0.1), rgba(255, 105, 180, 0.1));
            background-size: 400% 400%;
            animation: gradientAnimation 15s ease infinite;
        }
        .top-bar {
            background-color: rgba(44, 62, 80, 0.2);
            color: white;
            padding: 1vh 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 10%;
            border-bottom: 0.5vh solid rgba(52, 73, 94, 0.3);
            position: relative;
        }
        .top-bar h1 {
            margin: 0;
            font-size: 6vh;
            padding-right: 1vh;
            padding-left: 1vh;
            text-align: center;
        }
        .top-bar .input-container {
            position: absolute;
            right: 5vh;
            display: flex;
            align-items: center;
            height: auto;
            background-color: rgba(44, 62, 80, 0.4);
            border-radius: 5vh;
            padding: 1vh;
        }
        .top-bar input {
            margin: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.6vh;
            border: none;
            border-radius: 5vh;
            outline: none;
            background-color: #2C2F33;
            color: #A0A0A0;
            border: 0.2vh solid #64B5F6;
        }
        .top-bar button {
            margin: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.6vh;
            background-color: #2196F3;
            color: white;
            border: none;
            border-radius: 5vh;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .top-bar button:hover {
            background-color: #64B5F6;
            transform: scale3d(1.05, 1.05, 1.05);
        }
        .button_bar{
            position: absolute;
            display: flex;
            gap: 2vh;
            padding: 3vh;
            left: 5vh;
            margin: 0;
            background-color: rgba(44, 62, 80, 0.4);
            padding: 1.1vh;
            border-radius: 5vh;
        }
        .button_bar button {
            margin: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.6vh;
            background-color: green;
            color: white;
            border: none;
            border-radius: 5vh;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 2vh;
            width: 100%;
        }
        .graphs-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            margin-bottom: 5vh;
        }
        .graphs-container2 {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            margin-bottom: 5vh;
        }
        .graph {
            width: 48%;
            border-radius: 10px;
            height: 100%;
            background-color: rgba(44, 62, 80, 0.2);
            padding: 1vh;
    
        }
        .circle-container-wrapper {
            display: flex;
            justify-content: center;
            gap: 4vh;
            flex-wrap: wrap;
            background-color: rgba(44, 62, 80, 0.2);
            padding: 2vh;
            border-radius: 1vh;
            width: 100%;
            margin-top: auto;
            border: 0.5vh solid rgba(52, 73, 94, 0.3);
        }
        .circle {
            width: 25vh;
            height: 25vh;
            border: 0.4vh solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3vh;
            flex-direction: column;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .circle:hover {
            transform: scale3d(1.1, 1.1, 1.1);
            border: 0.8vh solid;
            transition: transform 0.5s;
        }
        .temperature-circle {
            border-color: #ff4500;
            color: #ff4500;
            background-color: rgba(255, 69, 0, 0.1);
        }
        .humidity-circle {
            border-color: #00bfff;
            color: #00bfff;
            background-color: rgba(0, 191, 255, 0.1);
        }
        .wind-circle {
            border-color: #32cd32;
            color: #32cd32;
            background-color: rgba(50, 205, 50, 0.1);
        }
        .pressure-circle {
            border-color: #ffa500;
            color: #ffa500;
            background-color: rgba(255, 165, 0, 0.1);
        }
        .feels-like-circle {
            border-color: #ff69b4;
            color: #ff69b4;
            background-color: rgba(255, 105, 180, 0.1);
        }
        .circle-title {
            font-size: 1.6vh;
            margin-top: 0.5vh;
        }
        .weather-icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .weather-icon {
            border: 0.4vh solid #fff;
            border-radius: 50%;
            height: 25vh;
        }
        em{
            color: white;
            text-shadow: 0 0 5px #007BFF;
        }
