body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1e1e1e;
            color: #f0f0f0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            align-items: center;
        }
        .top-bar {
            background-color: #2c3e50;
            color: white;
            padding: 1vh 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 10%;
            border-bottom: 0.5vh solid #34495e;
            position: relative;
        }
        .top-bar h1 {
            margin: 0;
            font-size: 6vh;
            padding-right: 1vh;
            padding-left: 1vh;
            text-align: center;
        }
        .top-bar .input-container {
            position: absolute;
            right: 2vh;
            display: flex;
            align-items: center;
        }
        .top-bar input {
            margin-left: 1vh;
            padding: 0.5vh;
            font-size: 1.6vh;
            border: none;
            border-radius: 0.5vh;
            outline: none;
            background-color: #34495e;
            color: white;
        }
        .top-bar button {
            margin-left: 1vh;
            padding: 0.5vh 1vh;
            font-size: 1.6vh;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 0.5vh;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .top-bar button:hover {
            background-color: #0056b3;
        }
        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 2vh;
            width: 100%;
        }
        .graphs-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50%;
        }
        .graph {
            width: 48%;
            border-radius: 10px;
            height: 100%;
            margin: 10px;
            background-color: #2c3e50;
            padding: 1vh;
        }
        .circle-container-wrapper {
            display: flex;
            justify-content: center;
            gap: 4vh;
            flex-wrap: wrap;
            background-color: #2c3e50;
            padding: 2vh;
            border-radius: 1vh;
            width: 100%;
            margin-top: auto;
            border: 0.5vh solid #34495e;
        }
        .circle {
            width: 25vh;
            height: 25vh;
            border: 0.4vh solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3vh;
            flex-direction: column;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .circle:hover {
            transform: scale3d(1.1, 1.1, 1.1);
        }
        .temperature-circle {
            border-color: #ff4500;
            color: #ff4500;
            background-color: rgba(255, 69, 0, 0.1);
        }
        .humidity-circle {
            border-color: #00bfff;
            color: #00bfff;
            background-color: rgba(0, 191, 255, 0.1);
        }
        .wind-circle {
            border-color: #32cd32;
            color: #32cd32;
            background-color: rgba(50, 205, 50, 0.1);
        }
        .pressure-circle {
            border-color: #ffa500;
            color: #ffa500;
            background-color: rgba(255, 165, 0, 0.1);
        }
        .feels-like-circle {
            border-color: #ff69b4;
            color: #ff69b4;
            background-color: rgba(255, 105, 180, 0.1);
        }
        .circle-title {
            font-size: 1.6vh;
            margin-top: 0.5vh;
        }
        .weather-icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .weather-icon {
            border: 0.4vh solid #fff;
            border-radius: 50%;
            height: 25vh;
        }